.formkit-outer-text {
  @apply block mb-2 font-semibold text-sm formkit-invalid:text-red-500 dark:formkit-invalid:text-danger;
}

.formkit-inner-text {
  @apply flex
    items-center
    justify-center
    align-middle
    w-full
    border
    border-[rgb(var(--fk-border-color))]
    formkit-invalid:border-red-500
    rounded-lg 
    overflow-hidden
    focus-within:border-primary
    mb-0;
}

.formkit-input-text {
  @apply w-full
    h-10
    px-3
    border-none
    text-sm
    bg-[rgb(var(--bg-2))]
    placeholder-[rgb(var(--fk-placeholder-color))]
    focus:outline-none
    disabled:bg-[rgb(var(--bg-1))]
    disabled:border-[rgb(var(--bg-1))]
    disabled:placeholder-[rgb(var(--bg-1))]
}

.formkit-prefix-text {
  @apply ml-2;
}

.formkit-message-text {
  @apply formkit-invalid:text-red-500;
}
